{
    "presets":["es2015", "stage-2", "stage-3", "react", "flow"],
    "plugins": [
      "import-glob",
      ["transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }]
    ]
}
