.error-area{
  display:block;
}

.hide-error{
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow-y: hidden;
}

.show-error{
  margin: 1rem 0;
  overflow-y: hidden;
  margin: 1rem 0;
  background-color: #FCEBEA;
  border: 1px solid #621B18;
  border-radius: 0.5rem;
  padding: 1rem;
  max-height: 500px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1)
}
