.galleryDarkBg{
  background: #000;
}

.bgContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(00, 00, 00, 0.85);
}

.container{
  position: relative;
  z-index: 10;
}

.videoInfoContainer{
  display: flex;
  margin: 3rem auto;
  max-width: 1280px;
  .videoContactLeft{
    margin: 0 1rem;
    width: calc(67% - 2rem - 6px);
    .video{
      border: 3px solid #333;
      border-radius: 4px;
      box-shadow: 4px 4px 4px;
    }
    .contact{
      display: flex;
      background: #333;
      margin-top: 2rem;
      border-radius: 4px;
      box-shadow: 4px 4px 4px;
      h4.title{
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.6rem;
        margin: 0;
      }
      .agentArea{
        display: flex;
        margin-right: 1rem;
        .photo{
          border-radius: 4px 0 0 4px;
          width: 100px;
          height: 100px;
        }
        .info{
          color: #fff;
          margin: 0.6rem 1rem;
          .contactItem{
            margin-top: 0.4rem;
          }
        }
      }
      .contactForm{
        color: #fff;
        margin: 0.6rem 1rem;
        .result{
          margin: 0.6rem 0 0 0;
          display: none;
        }
        .form-group{
          margin: 0.6rem 0 0 0 ;
          display: flex;
          .form-elem{
            flex: 1;
            padding-right: 1rem;
          }
          .form-control{
            font-size: 1.2rem;
            padding: 0.4rem;
            width: calc(100% - 1rem);
            border-radius: 3px;
            border: 1px solid transparent;
            border-top: none;
            border-bottom: 1px solid #DDD;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
          }
        }
      }
    }
  }
  .infoRight{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    width: calc(33% - 2rem);
    .address{
      font-family: "Avenir Next", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      font-weight: 100;
      padding: 1.4rem;
      border-radius: 4px;
      background: #333;
      box-shadow: 4px 4px 4px #000;
      color: #fff;
      .smallerText{
        font-size: 1.4rem;
      }
    }
    .listing{
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding: 1.4rem;
      color:#fff;
      border-radius: 4px;
      box-shadow: 4px 4px 4px #000;
      background: #333;
      .section{
        margin: 0.3rem;
      }
      .right{
        text-align: right;
      }
      .expand{
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .description{
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .priceContainer{
        display: flex;
        font-family: "Droid serif", Times, serif;
        font-size: 2rem;
      }
      .priceLabel{
        display: flex;
        h4.title{
          margin-right: 1rem;
          width: calc(100% - 1rem);
          align-self: flex-end;
        }
      }
      .bedsBathsSqftContainer{
        display: flex;
        margin: 1rem;
        .column{
          flex: 1;
        }
        .shrinkWrap{
          width: 70%;
          text-align: center;
          margin: auto;
          padding: 0.4rem;
          border: 1px solid #209cee;
          h4.title{
            text-align: center;
          }
          .value{
            text-align: center;
            font-size: 2rem;
          }
        }
      }
      .mlsDetails{
        display: flex;
      }
      .mlsNumber{
        .value{
          text-transform: uppercase;
        }
      }
      .mlsStatus{
        .value{
          text-transform: uppercase;
        }
      }
      .column{
        flex: 1;
      }
      h4.title{
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin: 0.2rem 0;
      }
      .value{

      }
      .featureList{
        padding: 0;
        list-style: none;
        .featureItem{
          width: 100%;
          display:flex;
          margin: 0.4rem 0;
          .label{
            margin-right: 1rem;
            flex: 2;
            text-align: right;
          }
          .value{
            margin-left: 1rem;
            flex: 4;
          }
        }
      }
    }
  }
}

.photosContainer{
  margin: 0 auto 4rem auto;
  max-width: 1280px;
  .photoList{
    padding: 0;
    list-style: none;
    overflow: auto;
    .thumb{
      display: block;
      margin: 1rem;
      width: calc(25% - 2rem);
      float: left;
      img{
        width: 100%;
      }
    }
  }
}
