body{
  font-family: 'Source Sans Pro','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','cursive','Droid Sans','Helvetica Neue';
}

.bgContainer{
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: 1;
}

.container{
  margin: auto;
  max-width: 1200px;
  position: relative;
  z-index: 10;
  color: #B8C2CC
}

.plyr{
  border-radius: 0.5rem;
}

.videoInfoContainer{
  display: flex;
  margin: 0rem -1.5rem;
  .videoContactLeft{
    padding: 3rem 1.5rem;
    width: calc(67% - 6px);
    .videoContainer{
      border-radius: 0.75rem;
      box-shadow: 4px 4px 4px #000;
    }
    .video{
      border: 1px solid #606F7B;
      border-radius: 0.5rem;
    }
    .contact{
      display: flex;
      background: #22292F;
      margin-top: 2rem;
      border-radius: 0.5rem;
      box-shadow: 4px 4px 4px #000;
      h4.title{
        font-weight: 600;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
      }
      .agentArea{
        flex: 1;
        display: flex;
        .photo{
          border-radius: 0.5rem 0 0 0.5rem;
          width: 100px;
          height: 100px;
        }
        .info{
          margin: 0.6rem 0 0.6rem 1rem;
          .contactItem{
            margin-top: 0.4rem;
          }
        }
      }
      .contactForm{
        display: flex;
        align-items: center;
        margin: 0.6rem 1rem;
        .result{
          margin: 0.6rem 0 0 0;
          display: none;
        }
        .form-group{
          margin: 0.4rem 0 0 0 ;
          display: flex;
          .form-elem{
            flex: 1;
            padding-right: 1rem;
          }
          .input {
            box-shadow: inset 0 1px 2px 0 rgba(10,10,10,0.1);
            border-radius: 0.25rem;
            border: 1px solid #ccc;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            flex: 1;
            width: calc(100% - 1.5rem);
            background: #fff;
          }
          .actionButton {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            box-shadow: 1px 1px 2px #0a0a0a;
            font-weight: 100;
            font-size: 0.85rem;
            border: 0;
            padding: 0.65rem 0.8rem;
            border-radius: 4px;
            position: relative;
            text-align: center;
            background-image: linear-gradient(-180deg,#74c947 0,#4bc459 100%)
          }
          .actionOverlay {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.1);
            border-radius: 6px;
            transition: all .3s ease-out;
            opacity: 0;
          }
          .actionOverlay:hover{
            opacity: 0.6;
            cursor: pointer
          }
        }
      }
    }
  }
  .infoRight{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: calc(33%);
    .address{
      font-size: 1.6rem;
      font-weight: 100;
      padding: 1.4rem;
      border-radius: 0.5rem;
      background: #22292F;
      box-shadow: 4px 4px 4px #000;
      .smallerText{
        margin-top: 0.2rem;
        font-size: 1.2rem;
      }
    }
    .listing{
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 4px 4px 4px #000;
      background: #22292F;
      .section{
        margin: 0.3rem;
      }
      .right{
        text-align: right;
      }
      .expand{
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .description{
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .priceTypeContainer{
        margin: 1rem 0;
        display: flex;
        h4.title{
          margin-right: 1rem;
          width: calc(100% - 1rem);
          align-self: flex-end;
        }
        .price{
          font-size: 2rem;
          font-family: "Droid serif", Times, serif;
          font-weight: bold;
        }
      }
      .bedsBathsSqftContainer{
        display: flex;
        .column{
          border-right: 1px solid #64D5CA;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .column:last-child{
          border-right: none;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .shrinkWrap{
          display: inline-block;
          text-align: center;
          padding: 0.4rem;
          h4.title{
            text-align: center;
          }
          .value{
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 0rem;
            font-family: "Droid serif", Times, serif;
            font-weight: bold;
            text-align: center;
          }
        }
      }
      .mlsDetails{
        display: flex;
      }
      .mlsNumber{
        .value{
          text-transform: uppercase;
        }
      }
      .mlsStatus{
        .value{
          text-transform: uppercase;
        }
      }
      .column{
        flex: 1;
      }
      .value{

      }
      .featureList{
        padding: 0;
        list-style: none;
        .featureItem{
          width: 100%;
          display:flex;
          margin: 0.4rem 0;
          .label{
            margin-right: 1rem;
            flex: 2;
          }
          .value{
            margin-left: 1rem;
            flex: 4;
          }
        }
      }
    }
  }
}

.photosContainer{
  margin: 0 auto 4rem auto;
  max-width: 1200px;
  .photosTitle{
    font-size: 1.6rem;
    font-weight: 100;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 0.4rem;
    color: #22292F;
  }
  .photoList{
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    div{
      border-radius: 0.5rem;
      box-shadow: 4px 4px 4px #000;
      margin: 1rem;
      width: calc(25% - 2rem);
      img{
        border-radius: 0.5rem;
        width: 100%;
        height:100%;
      }
    }
  }
}
h4.title{
  font-weight: 100;
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.caps{
  text-transform: capitalize;
}
