body{
  background: #F1F5F8;
  color: #3d4852;
  font-family: 'Source Sans Pro','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','cursive','Droid Sans','Helvetica Neue';


  & a:link{
    color: #3d4852;
  }

  & a:hover{
    color: #3d4852;
    text-decoration: underline;
  }

  & a:active{
    color: #3d4852;
  }

  & a:visited{
    color: #3d4852;
  }
}

.brighten{
  opacity: 0.5;

  &:hover{
    opacity: 1;
  }
}

.admin-body{
  padding-top: 4rem;

  & a:link{
    color: #3d4852;
  }

  & a:hover{
    color: #3d4852;
    text-decoration: underline;
  }

  & a:active{
    color: #3d4852;
  }

  & a:visited{
    color: #3d4852;
  }

  &.font-source-sans {
    font-family: 'Source Sans Pro','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','cursive','Droid Sans','Helvetica Neue';
  }
}

ul{
  list-style: none;
  padding: 0;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --action-button: {
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    box-shadow: 1px 1px 2px #0a0a0a;
    font-weight: 600;
    font-size: 0.85rem;
    border: 0;
    padding: 0.65rem 0.8rem;
    border-radius: 4px;
    position: relative;
    text-align: center;
    width: 100%;
    &:hover{
      text-decoration: none;
    }
  }
}

.action-button-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  border-radius: 6px;
  transition: all .3s ease-out;
  opacity: 0;
  &:hover {
    opacity: 0.6;
    cursor: pointer
  }
}

.dropdown-menu{
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.button-green {
  @apply --action-button;
  background-image: linear-gradient(-180deg,#74c947 0,#4bc459 100%);
}

.button-blue {
  @apply --action-button;
  background-image: linear-gradient(-180deg,#479ac9 0,#4b70c4 100%);
}

.button-purple {
  @apply --action-button;
  background-image: linear-gradient(-180deg,#9547c9 0,#6e4bc4 100%);
}

.button-red {
  @apply --action-button;
  background-image: linear-gradient(-180deg,#c94747 0,#9a3b3b 100%);
}

.img-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  right: 1px;
  width: 3rem;
  height: calc(100% - 5px);
  background: rgba(255,255,255,0.7);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.hover:hover{
  text-decoration: underline;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 6px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.signup-container{
  width: 35rem;
  margin: 8rem auto 6rem auto;
  background: #fff;
  overflow: visible;
}

.login-wrapper{
  width: 35rem;
  overflow: visible;
}

.login-container{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-header{
  margin-top: -5rem;
  display: flex;
  width: 100%;
}

.signup-map-area{
  width:100%;
  height: 200px;
}

.upload-container{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #27708c;
  background: #f5f5f5;
}

.circle{
  border-radius: 50%;
}

.edit-upload-overlay{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem 1rem;
  text-align: center;
  z-index: 10;
  margin: 2px;
  border-radius: 0 5px 0 5px;
  background-color: rgba(61, 72, 84, 0.8);
  color: #86a8ab;
}

.edit-upload-overlay-circle{
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(61, 72, 84, 0.8);
  color: #86a8ab;
}

.edit-upload-overlay-circle:hover, .edit-upload-overlay:hover{
  cursor: pointer;
  color:#fff;
}

.pb-progress {
  padding: 4px;
  background: rgba(41, 39, 189, 0.15);
  border: 1px solid #c1c0c0;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.pb-progress-bar {
  height: 16px;
  border-radius: 4px;
  border: 1px solid #b13cc7;
  background-image: linear-gradient(-180deg,#9547c9 0,#6e4bc4 100%);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.padding-override{
  padding: 0 !important;
}

.auth-header-bg{
  display: flex;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #606F7B;
  top: 0;
  left: 0;
  height: 4rem;
  z-index: 100;
  align-items: center;
  background-color: rgba(255,255,255, 0.9);
}

.public-header{
  color:#FFF;

  & .navDrawer{
    position: fixed;
    top: 0;
    right: -16rem;
    width: 16rem;
    height: 95vh;
    opacity: 0;
    border-bottom: 1px solid #666;
    background-color: rgba(255,255,255, 0.9);
    box-shadow: 5px 5px 8px #333;
    overflow: hidden;
    z-index: 11;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  & a:link{
    color: #FFF;
    text-decoration: none;
  }

  & a:hover{
    color: #FFF;
    text-decoration: underline;
  }

  & a.title:hover{
    color: #FFF;
    text-decoration: none;
  }

  & a:active{
    color: #FFF;
    text-decoration: none;
  }

  & a:visited{
    color: #FFF;
    text-decoration: none;
  }

  & a.button:hover{
    text-decoration: none;
    background: rgba(47, 170, 193, 0.4);
  }

  & a.button{
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  & .header-bg{
    position: fixed;
    top: -100px;
    left: -20px;
    width: 110%;
    height: 70px;
    opacity: 0;
    border-bottom: 1px solid #666;
    background-color: rgba(255,255,255, 0.9);
    box-shadow: 1px 1px 10px #999;
    overflow: hidden;
    z-index: 9;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  & .header-bg-pin {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 1;
  }

  & .header-fg-pin{
    position: relative;
    color: #3d4852;
    z-index: 12;

    & .phone-icon{
      color: #3d4852;
    }

    & a.button{
      color: #3d4852;
      border: 1px solid #3d4852;
      border-radius: 0.3rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      margin-top: 0.1rem;
    }

    & a:link{
      color: #3d4852;
    }

    & a:hover{
      color: #3d4852;
      text-decoration: underline;
    }

    & a.button:hover{
      text-decoration: none;
      background: rgba(47, 170, 193, 0.4);
    }

    & a:active{
      color: #3d4852;
    }

    & a:visited{
      color: #3d4852;
    }
  }

  & .navDrawerActive{
    transform: translateX(-16rem);
    z-index: 11;
    color: #3d4852;
    opacity: 1;

    & a:link{
      display: block;
      padding: 0.5rem 1rem;
      color: #3d4852;
      margin: 0.25rem 0;
    }

    & a:hover{
      background: #DAE1E7;
      text-decoration: none;
    }

    & a:active{
      color: #3d4852;
    }

    & a:visited{
      color: #3d4852;
    }
  }
}


.hero{
  display: block;
  height: 95vh;
  position: relative;

  & .bg{
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-position: center center;
  }

  & .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background: #16222a;
    background: -webkit-linear-gradient(to bottom, #16222a, #3a6073);
    background: linear-gradient(to bottom, #16222a, #3a6073);
    opacity: 0.7;
  }
}

.public-footer{

  & p{
    padding: 0.5rem 0;
  }

  & a:link{
    color: #BCDEFA;
    text-decoration: none;
  }

  & a:hover{
    color: #BCDEFA;
    text-decoration: underline;
  }

  & a:active{
    color: #BCDEFA;
  }

  & a:visited{
    color: #BCDEFA;
  }
}

.t-shadow{
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.main-text{
  color: #3d4852;
}

.notes{
  & .prev-container {
    padding: 2px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 0px;
    overflow-y: hidden;
    overflow-x: visible;
  }
  & .open{
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    max-height: 1000px;
  }
}
