extends layout.pug

block content
  div.intro
    h3.header Homefilming password reset
    p.body-text
      | You have requested a password reset for Homefilming. Open this link to change your password.
    div.info
      | If you have not requested this change, please ignore this email.
      | The link is valid for the next 30 minutes.
    div.cta
      a.button(href=`${baseUrl}/reset-password?token=${token}` target="_blank") Change password
