extends layout.pug

block content
  div.intro
    h3.header Welcome to Gravit.ist
    p.body-text
      | Welcome to Gravit.ist.
    div.info
      div.data
        h5.title Welcome
        h2.value #{name}
      div.data
        h5.title Status
        h2.value 
      div.data-ex
        h5.title Confirmation Number
        h2.value 
    div.cta
      a.button(href=`${baseUrl}/dashboard` target="_blank") View dashboard  
