doctype html
html(lang="en" class="antialiased")
  head
    title Homefilming
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="author" content="Derek Rush")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArn_D9rPoWpC6TWYrY3l3Pm6gwqr0nBO8&region=US&libraries=places")
    script(src="https://js.stripe.com/v3/")
    link(rel="stylesheet" type="text/css" href="/index.css")
  body(class="font-source-sans")
    div#root
    script(type="text/javascript" src="/index_bundle.js")
